*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background: linear-gradient(45deg, #000000, #130331, #5a02fd);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    background: #fff;
    height: 80%;
    width: 80%;
    /* max-width: 380px; */
    border: none;
    border-radius: 30px;
}
form{
    margin-top: 40px;
    /* display: grid; */
}
form h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;
    margin: 10px;
}
form h3{
    font-size: 15px;
    font-weight: 100;
    margin: 0 25px;
    margin-top: 20px;
}
form .input{
    margin: -10px 20px;
    padding: 10px;
    width: 80%;
    border: solid rgba(0, 0, 0, 0.288);
    outline: none;
    border-radius: 3px;


}
.in{
    margin: -10px 1px;
    padding: 10px;
    width: auto;
    border: solid rgba(0, 0, 0, 0.288);
    outline: none;
    border-radius: 3px;
  
}
select{
    margin: -10px 1px;
    margin-left: 20px;
    padding: 10px;
    width: auto;
    border: solid rgba(0, 0, 0, 0.288);
    outline: none;
    border-radius: 3px; 
}
.button{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: #000;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: ease 0.2s;
}

button:hover{
    background: #fff;
    border: solid black 1px;
    color: black;
}
#button{
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 50px;
    color: #000;
    background: #fff;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: ease 0.2s;
    display: none;
    border: solid black 1px;
}
a{
    text-decoration: none;
    color: #000;
}
span{
    display: none;
    font-size: 15px;
    font-weight: 200;
    color: #000000ad;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);

}